In [1]:
# https://github.com/rajathkmp/Python-Lectures

# Basic Operations

In [2]:
print('Hello World')

Hello World

In [3]:
x = 2
y = 5

x+y

7

In [4]:
x==y

False

# Data Types

## Lists
An object that stores any type of object in order. This is the storage structure to use most often.

In [5]:
lst = [3,6,1,6,3,7,3,7,3,99,3,'alpha']
lst

[3, 6, 1, 6, 3, 7, 3, 7, 3, 99, 3, 'alpha']

In [6]:
# select 10th item (note 0-indexed)
lst[9]

99

In [7]:
# slicing list 
lst[3:8]

[6, 3, 7, 3, 7]

In [8]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
sum(list(range(10)))

45

### Exercise: 
- Create a list of names of a few people on your team

- Print the value of the first and third names in the list

- Test if those two values are equal to each other (they are probably not)

In [2]:
### CODE FOR ABOVE EXERCISE ###

names = ['Joe', 'Mary', 'Betty']

print(names[0])
print(names[2])

names[0] == names[2]

Joe
Betty

False

## Dictionaries
Key-value storage. Each item has a key (before the colon) and a value (after the colon).

In [4]:
currency_map = {
    'Canada' : 'CAD', 
    'US' : 'USD', 
    'United Kingdom' : 'GBP', 
}

currency_map

{'Canada': 'CAD', 'US': 'USD', 'United Kingdom': 'GBP'}

In [5]:
currency_map['Canada']

'CAD'

### Exercise:
- What is the currency code for the United Kingdom? Print it.

- Add a key-value pair to the dictionary that maps Japan to its currency (JPY)

- Print the currency code for Japan.

In [7]:
### CODE FOR ABOVE EXERCISE ###

print(currency_map['United Kingdom'])

currency_map['Japan'] = 'JPY'

print(currency_map['Japan'])

GBP
JPY

## String
A list of characters

In [8]:
a = 'Hello World'

In [9]:
a[3:9]

'lo Wor'

In [10]:
a.upper()

'HELLO WORLD'

# Control Flow

 ## IF Statement

In [11]:
x = 12
if x >10:
    print("Hello")

Hello

In [12]:
x = 12
if x > 10:
    print("hello")
else:
    print("world")

hello

## For Loop

In [13]:
lst = [3,6,1,6,3,7,3,7,3,99,3,'alpha']

for i in lst:
    print(i)

3
6
1
6
3
7
3
7
3
99
3
alpha

## Functions

In [14]:
def firstfunc():
    print("Hello World!")
    
firstfunc()

Hello World!

In [15]:
def times(x,y):  # variables inside parenthesis are the "parameters"
    z = x*y
    return z

In [16]:
c = times(4,5)
print(c)

20

# Your Turn!

1. Create a string variable of your name and call it "name"

In [17]:
name = 'Dan Goodburn'

2. Use a slice (square bracket notation [a:b]) on the string "name" to print only your first name

In [18]:
name[:4]

'Dan '

3. Create a list, named "num", of numbers between 1 and 10, inclusive

In [19]:
num = list(range(1, 11))
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

4. Calculate the sum of all numbers in "num"

In [8]:
sum(num)

55

5. Create a function called "sum_numbers" that returns the sum of the numbers in a list 
    (hint 1: parameter should be the list)
    (hint 2: make sure you are returning the value, not just printing it)

In [10]:
def sum_numbers(lst):
    return sum(lst)

sum_numbers(num)

55

6. Print only the even numbers in num 
    (hint: calculate remainder with '%')

In [13]:
for i in num:
    if i%2==0:
        print(i)

2
4
6
8
10

7. Create a function "product" that finds the product of all numbers in a list

In [14]:
def product(lst):
    x = 1
    
    for i in lst:
        x = x * i
        
    return x

product(num)

3628800